html,
body {
  background: #262626;
}
.container {
  width: auto;
}
.coinmarketcap-currency-widget {
  background: #fff;
  width: auto;
  margin: 10px 1%;
  float: left;
  border-radius: 5%;
  object-fit: cover;
}
